@{
    /* this will change the name on the browser tab/window. */
    ViewBag.Title = "Restaurantes";
}

<!-- this will change the name off the view in the page content. -->
<h2>Restaurantes</h2>

<p>Hello from our View Template!</p>